node_modules/
src/
*.ts
*.tsx
*.log
*.md


package-lock.json
index.html
tsconfig.json
tsconfig.app.json
tsconfig.node.json
tsconfig.lib.json
.eslintrc.js
.eslint.config.js
.gitignore
.vscode/
.idea/
*.swp
*.swo

# Ignore les fichiers de configuration spécifiques à l'environnement de développement
.vscode/
.idea/
node_modules/

build/
.eslintcache
*.log
*.md
tsconfig.json
tsconfig.app.json
tsconfig.node.json
vite.config.ts
vite.config.js
package-lock.json
index.html
*.scss
*.sass

# Autres fichiers à ignorer
.git/
.gitignore
npm-debug.log
yarn-error.log