.dataTable {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  min-width: 600px;

  & .arrow {
    color: grey;

    &-selected {
      color: blue;
    }
    & .up,
    & .down {
      cursor: pointer;
      margin: 3px 10px;
    }
  }

  &_titles {
    // & th {
    //   padding: 10px 18px;
    //   box-sizing: content-box;
    // }

    // &_title {
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;
    // }
    &_title {
      text-align: center;
    }
  }

  &_data {
    border-top: 1px solid black;
    border-bottom: 1px solid black;

    & tr:nth-child(odd) {
      background: #f9f9f9;
    }
    & tr:not(:last-child) {
      border-bottom: 1px solid lightgrey;
    }

    & td {
      padding: 8px 10px;
      // box-sizing: content-box;
    }

    & tr:nth-child(odd) .selectedCol {
      background-color: rgba(226, 224, 224, 0.92);
    }

    & tr:nth-child(even) .selectedCol {
      background-color: rgba(245, 244, 244, 0.94);
    }

    & .noMatchSearch {
      text-align: center;
    }
  }
}
