.noData {
  width: 100%;
  text-align: center;
  margin-top: 50px;
}

.theTable {
  width: 100%;

  &_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 10px;
  }
}

// Mobile
@media (max-width: 768px) {
  .theTable {
    font-size: small;
    overflow: scroll;

    &_header,
    &_footer {
      position: sticky;
      left: 0;
    }
  }
}
