.theTable {
  // min-width: -webkit-fill-available;
  // position: absolute;
  width: 100%;

  &_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 10px;
  }
}

// Mobile
// @media (max-width: 768px) {
//   .theTable {
//     overflow: scroll;
//     &_header {
//       position: sticky;
//       left: 0;
//     }
//   }
// }
